@model MVCHelloWorld.Models.Employee

@{
    ViewBag.Title = "GetData";
}

<h2>GetData</h2>
Employee code : @Model.Ecode<br />
Employee name : @Model.Ename<br />
Employee salary : @Model.Salary<br />
Employee deptid : @Model.Deptid<br />