
@{
    ViewBag.Title = "Index";
    var number = 100;
    var cities = new List<SelectListItem>
    {
        new SelectListItem{Text="Bangalore",Value="BLR"},
        new SelectListItem{Text="Chennai",Value="CHN"},
        new SelectListItem{Text="Delhi",Value="DLI"},
        new SelectListItem{Text="Hyderabad",Value="HYD"},
        new SelectListItem{Text="Jaipur",Value="JPR"}
    };
}

<h2>Index</h2>
<h2>Congratulation... This is your first MVC Web Application-Hello World</h2>
<h3>Number : @number</h3>

<!--html helper-->
Select city:@Html.DropDownList("city", cities, "-Select-")
